<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <header>
        <span>ShowLytics</span>
        <nav>
            <a href="/" class="selected">Туристы</a>
            <a href="/bonuses">Бонусная программа</a>
            <a href="/infrastructure">Инфраструктура</a
        </nav>
            <form action="">
                
            </form>
    </header>
        <main>
            <div id="tourists-info">
                <div id="tourist-flow" class="dashboard-item">
                    <h2>Турпоток</h2>
                    <%- include('blocks/charts/tourflow.ejs') -%>
                </div>

                <div id="roomfund" class="dashboard-item">
                    <h2>Номерной фонд</h2>
                    <%- include('blocks/charts/roomfund.ejs') -%>
                </div>

                <div id="tourist-dist" class="dashboard-item">
                    <h2>Распределение туристов по месту пребывания (%)</h2>
                    <%- include('blocks/charts/touristdist.ejs') -%>
                </div>

                <div id="lifttime" class="dashboard-item">
                    <h2>Время работы подьемника</h2>

                </div>

                <div id="liftload" class="dashboard-item">
                    <h2>Загружка подьемника</h2>

                </div>
            </div>

        </main>

        <script src="/js/ajax.js"></script>
        <script src="/js/charts.js"></script>
</body>

</html>