<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <%- include('blocks/header.ejs') -%>
        <main>
            <div id="tourist-flow">
                <h3>Турпоток</h3>
                <%- include('blocks/charts/tourflow.ejs') -%>
                    <p id="tourist-flow-response" class="response-text"></p>
            </div>

            <div id="tourist-dist">
                <h3>Распределение туристов по секторам</h3>
                <%- include('blocks/charts/sectors.ejs') -%>
                    <p id="tourist-dist-response" class="response-text"></p>
            </div>

            <div id="report">
                <p id="report-response" class="response-text"></p>
                <form id="form-report" action="/make-report" method="POST">
                    <input type="submit" class="btn" value="Получить отчет" />
                </form>
            </div>

        </main>

        <script src="/js/ajax.js"></script>
        <script src="/js/charts.js"></script>
</body>

</html>