* {
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(90deg, #333, #000);
    color: #f0f0f0;
    font: 1em 'Montserrat', 'Segoe UI';
}

header {
    width: 90%;
    padding: 20px 5%;
    display: flex;
    justify-content: start;
    align-items: center;
}

header span {
    font-size: 25px;
    font-weight: bold;
    color: #f0f0f0;
}

header .tourists-nav {
    background-color: #3D3C47;
    padding: 10px 20px 10px 10px;
    border-radius: 20px;
    margin-left: 25%;
}

header .infrastructure-nav {
    background-color: #3D3C47;
    padding: 10px 0px 10px 30px;
    border-radius: 20px;
    margin-left: 25%;
}

header .bonuses-nav {
    background-color: #3D3C47;
    padding: 10px 10px 10px 30px;
    border-radius: 20px;
    margin-left: 25%;
}

.selected {
    background-color: #33c;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

header nav a:first-of-type {
    color: #f0f0f0;
    text-decoration: none;
    margin-left: -10px;
}

header nav a {
    color: #f0f0f0;
    text-decoration: none;
    margin-left: 15px;
}

header nav a:hover {
    text-decoration: underline wavy;
}

#tourists-info {
    width: 95%;
    margin: 5px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 50px);
    gap: 20px 20px;
    grid-template-areas: "tourflow tourflow tourdist tourdist" "tourflow tourflow tourdist tourdist" "tourflow tourflow tourdist tourdist" "tourflow tourflow tourdist tourdist" "tourflow tourflow tourdist tourdist" "tourflow tourflow tourdist tourdist" "tourflow tourflow lifttime liftload" "roomfund roomfund lifttime liftload" "roomfund roomfund lifttime liftload" "roomfund roomfund lifttime liftload" "roomfund roomfund lifttime liftload" "roomfund roomfund lifttime liftload";
}

#tourist-flow {
    grid-area: tourflow;
}

#tourist-dist {
    grid-area: tourdist;
}

#roomfund {
    grid-area: roomfund;
}

#lifttime {
    grid-area: lifttime;
}

#liftload {
    grid-area: liftload;
}

#infrastructure-info {
    width: 95%;
    margin: 5px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 400px);
    gap: 20px 20px;
    grid-template-areas: "investsupply resourseprospect resourseprospect" "generalpercent generalpercent buildreadiness";
}

#invest-supply {
    grid-area: investsupply;
}

#resourse-prospect {
    grid-area: resourseprospect;
}

#general-percent {
    grid-area: generalpercent;
}

#build-readiness {
    grid-area: buildreadiness;
}

#bonuses-info {
    width: 95%;
    margin: 5px auto;
    padding: 20px;
}

.item-wrap-percent {
    border-radius: 10px;
    border: 1px white solid;
    background-color: #2D2C37;
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

.dashboard-item {
    border-radius: 10px;
    border: 1px white solid;
    background-color: #3D3C47;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.dashboard-item .wrap-canvas {
    height: 75%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-item .wrap-items {
    height: 75%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main h1 {
    padding-bottom: 20px;
}

main div h2 {
    padding-left: 10px;
}

main div .btn {
    border: 0;
    background: #9480a7;
    color: #191919;
    padding: 6px 10px;
    border-radius: 2px;
    transition: transform 500ms ease;
}

main div .btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.response-text {
    font-size: 1em;
    padding: 10px;
}

#report-response {
    justify-content: left;
}

.title {
    display: flex;
    justify-content: start;
    width: 95%;
}

#get-report {
    padding-left: 20%;
}

.button {
    border: 0;
    background-color: #33c;
    padding: 2px;
    color: white;
    border-radius: 10px;
    font: 1em 'Montserrat', 'Segoe UI';
    animation: 500ms;
}

.button:hover {
    scale: 1.2;
    cursor: pointer;
}

.button:focus {
    scale: 0.8;
}

#btn-report {
    background: url(/img/light_file.png) no-repeat scroll 7px 7px;
}