<header>
    <span>ShowLytics</span>
    <nav>
        <a href="/">Туристы</a>
        <a href="/bonuses">Бонусная программа</a>
        <a href="/infrastructure">Инфраструктура</a
    </nav>
        <form action=""></form>
</header>