<div class="wrap-items">
    <% Object.keys(build_readiness).forEach(function(sector) { %>
        <p class>Сектор
            <%= sector %> -
                <%= build_readiness[sector] %>%
        </p>
        <% }) %>
</div>