<div class="wrap-items">
    <% Object.keys(lift_time).forEach(function(sector) { %>
        <p class>Сектор
            <%= sector %> -
                <%= lift_time[sector] %>%
        </p>
        <% }) %>
</div>