<div class="wrap-canvas">
    <canvas id="investorsectors-chart"></canvas>
</div>

<script>
    const ctx_sectors = document.getElementById('investorsectors-chart');

    new Chart(ctx_sectors, {
        type: 'bar',
        data: {
            labels: ["A", "B", "C", "D", "E", "F"],
            datasets: [{
                label: 'Обеспеченность инвесторов по секторам',
                data: [<%= Object.values(investor_supply) %>],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Турпоток за 2021 год'
                }
            }
        }
    });
</script>