<div class="wrap-canvas">
    <canvas id="resource-chart"></canvas>
</div>

<script>
    const ctx_recources = document.getElementById('resource-chart');

    new Chart(ctx_recources, {
        type: 'line',
        data: {
            labels: ["2021", "2022", "2023"],
            datasets: [{
                label: 'Перспектива увеличения ресурсов по годам',
                data: [<%= Object.values(resource_prospect) %>],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Перспектива увеличения ресурсов по годам'
                }
            }
        }
    });
</script>