<div class="wrap-canvas">
    <canvas id="tourflow-chart"></canvas>
</div>

<script>
    const ctx_tourflow = document.getElementById('tourflow-chart');

    new Chart(ctx_tourflow, {
        type: 'bar',
        data: {
            labels: ['План', 'Факт'],
            datasets: [{
                label: 'Распределение туристов по секторам',
                data: [<%= Object.values(tourist_flow) %>],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Турпоток за 2023 год'
                }
            }
        }
    });
</script>